In [73]:
import pandas as pd
data=pd.read_excel('DirectMarketing.xlsx')
data.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent
0,Old,Female,Own,Single,Far,47500,0,High,6,755
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304

In [74]:
correlation = data.corr()
correlation.loc['AmountSpent']
correlation.iloc[3]

Salary         0.699596
Children      -0.222308
Catalogs       0.472650
AmountSpent    1.000000
Name: AmountSpent, dtype: float64

In [77]:
import statsmodels.formula.api as smf
model = smf.ols(formula="AmountSpent ~ Salary + Children+ Gender + Catalogs", data=data) 
reg = model.fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            AmountSpent   R-squared:                       0.659
Model:                            OLS   Adj. R-squared:                  0.657
Method:                 Least Squares   F-statistic:                     480.4
Date:                Sat, 11 Aug 2018   Prob (F-statistic):          1.40e-230
Time:                        02:46:24   Log-Likelihood:                -7748.7
No. Observations:                1000   AIC:                         1.551e+04
Df Residuals:                     995   BIC:                         1.553e+04
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       -431.2400     54.680     -7.887      0.000    -538.541    -323.939
Gender[T.Male]   -41.7490     37.152     -1.124      0.261    -114.655      31.157
Salary             0.0206      0.001     33.534      0.000       0.019       0.022
Children        -200.9904     17.207    -11.681      0.000    -234.756    -167.224
Catalogs          47.7775      2.756     17.337      0.000      42.370      53.186
==============================================================================
Omnibus:                      257.549   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              995.294
Skew:                           1.180   Prob(JB):                    7.49e-217
Kurtosis:                       7.279   Cond. No.                     2.01e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [79]:
new={'Salary':50000,'Children':0, 'Gender':'Female','Catalogs':6}
reg.predict([new])

0    884.666799
dtype: float64