In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [25]:
data=pd.read_excel("AmountSpent_13to17.xlsx")
data.head()

   2013  2014  2015  2016  2017
0  3006   245   730  1339   755
1  1445   804  1183  1256  1318
2  2393   592     8  1625   296
3  3773   121  2572  2874  2436
4   294    42  2113  2413  1304

In [26]:
data.describe()

              2013         2014         2015         2016         2017
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean   1016.669000   898.632000  1002.574000  1182.256000  1216.770000
std     868.146062   749.814241   780.505577   947.173002   961.068613
min       8.000000    11.000000     3.000000     0.000000    38.000000
25%     407.500000   355.750000   441.500000   464.750000   488.250000
50%     772.500000   690.000000   780.000000   953.500000   962.000000
75%    1411.500000  1239.000000  1340.000000  1633.250000  1688.500000
max    7876.000000  4662.000000  5554.000000  6530.000000  6217.000000

In [29]:
avg_amount=data.mean()
avg_amount

2013    1016.669
2014     898.632
2015    1002.574
2016    1182.256
2017    1216.770
dtype: float64

In [ ]:
x = np.arange(100)
y = np.linspace(0, 100, 100) + np.random.randn(100)

plt.plot(x, y, label="My Variable")

my_figure

In [28]:
fig=plt.figure
#plt (x,y)
plt.plot([1,2,3,4,5], spen)
x=
y=avg_amount
plt.xticks( np.arange(1,6), ['2013', '2014', '2015', '2016', '2017'] )

SyntaxError: invalid syntax (<ipython-input-28-a730892f1997>, line 1)